.verify{
    min-height: 60vh;
    display: grid;

}
.verify .spinner{
    width: 100px;
    height: 100px;
    align-self: center;
    justify-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite ease-in-out;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}